extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float center-block text-center big-top-space")
        h1 bienvenidos a ghostlan
        a(href="/login" class="right-space") iniciar session
        a(href="/signup") registrate